<%
  var pageKeyword = "大山敏浩,同志社,doshisha,techkids,テックキッズ,関西,関西大学,ぽっぷしゅーと,よろペイ,yoropay,仮想通貨,お金のメモ,ヒカル,ラファエル,ペイモ,paymo,kyash,hiraku,バズ,vaz,割り勘アプリ,割り勘,eastventures,sv木下,松山大河,木村匠吾,coinnews,coinshop,ビットコイン,コインニュース,コインショップ";
  var pageTitle = "インデックス";

  var pageOgp = ogp;
  pageOgp.image = siteUrl + "hoge.jpg";
  pageOgp.type = "website";
  pageOgp["fb:app_id"] = "";
  pageOgp["article:publisher"] = "";
  pageOgp["twitter:card"] = "summary_large_image";
  pageOgp["twitter:site"] = "";
%>
<%- include('./component/common/header', {
  title: pageTitle,
  keyword: pageKeyword,
  pageOgp:pageOgp
}); %>
<main>
  <%- include('./component/sections/vision'); %>
  <%- include('./component/sections/culture'); %>
  <%- include('./component/sections/whatWeDo'); %>
  <%- include('./component/sections/team'); %>
  <%- include('./component/sections/company'); %>
  <%- include('./component/sections/contact'); %>
</main>
<%- include('./component/common/footer'); %>
