<%
  var pageKeyword = "インデックスのキーワード";
  var pageTitle = "インデックス";

  var pageOgp = ogp;
  pageOgp.image = siteUrl + "hoge.jpg";
  pageOgp.type = "website";
  pageOgp["fb:app_id"] = "";
  pageOgp["article:publisher"] = "";
  pageOgp["twitter:card"] = "summary_large_image";
  pageOgp["twitter:site"] = "";
%>
<%- include('./component/common/header', {
  title: pageTitle,
  keyword: pageKeyword,
  pageOgp:pageOgp
}); %>
<main>
  <%- include('./component/sections/vision'); %>
  <%- include('./component/sections/culture'); %>
  <%- include('./component/sections/whatWeDo'); %>
  <%- include('./component/sections/team'); %>
  <%- include('./component/sections/company'); %>
  <%- include('./component/sections/contact'); %>
</main>
<%- include('./component/common/footer'); %>
